/*******************
light blue: #52a7e0
dark blue: #3498db;
background color: #E7ECEE
*******************/

#resume-container {
	border-top: 8px solid #3498db;
}

/**************
Navigation Setup
**************/
nav.nav {
	margin: 20px 0;
}

nav ul li {
	display: inline;
}

nav ul li a {
	text-decoration: none;
	color: #555;
	font-size: 80%;
	font-weight: bold;
	padding: 0 10px;
}

/*****************
Resume body
*****************/
.content-spacing {
	padding: 20px 20px;
	margin-bottom: 20px;
	background-color: #FFF;
	border-radius: 4px;
	-webkit-box-shadow: 2px 7px 12px 5px rgba(124,142,163,1);
	-moz-box-shadow: 2px 7px 12px 5px rgba(124,142,163,1);
	box-shadow: 2px 7px 12px 5px rgba(124,142,163,1);
}

.content-title {
	margin-bottom: 30px;
}

							/**************
								Skill bar
							**************/
.skillbar {
  position:relative;
  display:block;
  margin-bottom:15px;
  width:100%;
  background:#eee;
  height:35px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
  font-weight:bold;
  font-size:13px;
  color:#fff;
  background:#6adcfa;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:4px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-title span {
  display:block;
  background:rgba(0, 0, 0, 0.1);
  padding:0 20px;
  height:35px;
  line-height:35px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  width: 110px;
}
 
.skillbar-bar {
  height:35px;
  width:0px;
  background:#6adcfa;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
 
.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:11px;
  height:35px;
  line-height:35px;
  color:#444;
  color:rgba(0, 0, 0, 0.4);
}

				/* Experience tab */

div.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
div.tabs h6{
	background: none;
	color: #222;
	padding: 10px 15px;
	cursor: pointer;
  margin-bottom: 10px;
  border-radius: 20px;
-webkit-box-shadow: inset 1px 0px 20px 1px rgba(82,167,224,1);
-moz-box-shadow: inset 1px 0px 20px 1px rgba(82,167,224,1);
box-shadow: inset 1px 0px 20px 1px rgba(82,167,224,1);
}

div.tabs h6.current{
	background: #3498db;
	color: #FFF;
  border-radius: 20px 20px 0 0;
  margin-bottom: 0px;
}

.tab-content{
	display: none;
	/*background: #ededed;*/
	padding: 15px;
  margin-bottom: 10px;
  background-color: #a0d0ef;
  color: #FFF;
  border-radius: 0 0 20px 20px;
}

h6:after {
  display: table;
  content: '';
  clear: both;
}

.work-title {
  float: left;
}

.work-date {
  float: right;
}
